{% extends 'base.html' %}
{% block main %}
<main class="flex flex-col items-center justify-start m-2">
    <h1 class="flex flex-row border border-spacing-1 border-sol
     border-green-700 rounded-lg bg-yellow-300 text-black text-3xl p-2
     ">Fruit Classification</h1>
     <section class="sm:flex-row flex flex-col p-2">
        <!-- Choose card -->
        <div class="flex flex-col bg-white p-2 m-2 shadow-2xl items-center">

            <h2 class="text-2xl text-black">Upload fruit image to predict!</h2>
            <form action="/", method="post", enctype="multipart/form-data", class="flex flex-col">
                Choose Image: <input type="file" name="fruit_image" />
                <input type="submit" value="Predict" class="border border-solid bg-green-700 text-black text-2xl mt-2 p-2 rounded-lg" />
            </form>

            <img src="{{ pic }}" alt="Original" class="h-40 w-40">

            <h2>Classified as: <b>{{ prediction }}</b></h2>
        </div>
        
        <!-- End of card -->
     </section>
</main>
{% endblock %}
