<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../webstatic/common.css">
    <link rel="stylesheet" href="../webstatic/header.css">
    <link rel="stylesheet" href="../webstatic/footer.css">
    <title>Fruit Detection</title>
</head>
<body>
    <header>
        <div class="navbar">
            <img src="../images/logo.svg" alt="Logo" class="navbar logo">            
            <nav class="top-navbar">
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="view.html">View</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- main -->
    <main>
        <div class="section-center">
            <div class="fruit-container signup">
                <form action="#" class="account-form">
                    <h3 class="form-title">
                        create account
                    </h3>
                    <!-- <img src="../images/logo.jpg" alt="original image" class="image-predict rounded-img"> -->

                    <input class="text-input" type="text" id="form-text-input" placeholder="Full Name">
                    <input class="text-input" type="text" id="form-text-input" placeholder="Email">
                    <input class="text-input" type="password" id="form-text-input" placeholder="Password">
                    <input class="btn" type="submit">

                    <p class="std-paragraph form-paragraph">
                        Already have an account? <a href="/templates/login.html">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <p class="std-paragraph">Fruit Detection &#169 <span id="copyright-year">2017</span></p>
    </footer>
    <script src="../webdynamic/fruit.js"></script>
</body>
</html>
